!!!
/ saved from url=(0050)http://getbootstrap.com/examples/starter-template/
%html{lang: "en"}
  = partial "/layouts/head.haml"
%body{screen_capture_injected: "true"}
  .container{role: "main"}
    = yield
  = partial "/layouts/foot.haml"

