!!!
/ saved from url=(0050)http://getbootstrap.com/examples/starter-template/
%html{lang: "en"}
  = partial "/layouts/head.haml"
%body{screen_capture_injected: "true"}
  .container{role: "main"}

    .navbar.navbar-default.navbar-fixed-top{role: "navigation"}
      .container
        .navbar-header
          %button.navbar-toggle{"data-target" => ".navbar-collapse", "data-toggle" => "collapse", type: "button"}
            %span.sr-only Toggle navigation
            %span.icon-bar
            %span.icon-bar
            %span.icon-bar
          %a.navbar-brand{href: "#"} PatientPowered
        .collapse.navbar-collapse
          %ul.nav.navbar-nav
            %li
              %a{href: "/pp"} Deploy an OpenPPRN
            %li
              %a{href: "/pp-addons"} Add-Ons
            %li
              %a{href: "/data"} Your Network Stats
            %li
              %a{href: "/insights"}
            %li
              %a{href: "/social"}
          %ul.nav.navbar-nav.pull-right
            %li
              %a{href: "/login"}
            %li
              %a{href: "/login"}
                %i.fa.fa-sort-down
    = yield
    = partial "/layouts/foot.haml"