

%input{:type => "range"}
%textarea{:placeholder => "Type a note here.", :style => "width: 100%;"}
.btn.btn-primary.pull-right Post

%h4 Health Stream
.table-responsive
  %table.table.table-striped
    %thead
      %tr
        %th
        %th
    %tbody
      %tr
        %td March 2
        %td Fitbit: 10,000 Steps
      %tr
        %td March 1
        %td MyFitness Pal: 100 reps
      %tr
        %td Feb 28
        %td Withings: 195 pounds
      %tr
        %td Feb 12
        %td Flare of BMs